body{
    margin: 0;
    display: flex; /*kono element ke flexible container banay fele, tar immediate children flex item hoye jay*/
    justify-content: center; /*inside of flex container,*/
    align-items: center;
    height: 100vh; /*viewport height - relative unit, browser er viewport er height wise length specify kore*/
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%); /*hue, saturation, lightness*/
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden; /*overflow controls the content which is large to fit*/
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem; /*rem = root em(relative unit, not fixed like px), 1rem = 16px*/ 
    text-align: left;
    border: none;
    background-color: hsl(0, 100%, 1%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{  /*button er upor cursor niye gele*/
    background-color: hsl(0, 0%, 40%);
}
button:active{ /*button click korle*/
    background-color: hsl(0, 0%, 50%);
}

.operator-buttons{
    background-color: orange;
}
.operator-buttons:hover{
    background-color: hsl(35, 100%, 65%);
}


.operator-buttons:active{
    background-color: hsl(35, 100%, 75%);
}